{% extends "Newsletter/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row justify-content-center mt-5">
            <div class="col-md-7 text-center">
                      <h5 class="card-title">BUILD FORM 0-1 WITH OUR COMMUNITY</h5>
                      <p class="text-justify">0R1GIN is empowering people with ideas, expertise, industry knowledge to initiate/participate in projects from 0-1. We will take your idea
from scratch to refine it be a promising unicorn/match you with the perfect idea based on you. You can either become an advisory roles/core
member/founder of projects after our careful evaluation and matching process.</p>
                      <a href="{% url 'initiate' %}" class="btn m-5 btn-dark btn-lg">Initiate</a>
                      <a href="{% url 'invest' %}" class="btn m-5 btn-dark btn-lg">Invest</a>

            </div>
        </div>


{% endblock %}
